body {
    display: flex;
}

.imageSidebar {
    display: flex;
    position: relative;
    height: 100vh;
    width: 40%;
    justify-content: center;
    box-sizing: border-box;
}

.backgroundImage {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

.backgroundImage img {
    width: 100%;
    height: 100%;
}

.logoCard {
    display: flex;
    position: absolute;
    width: 100%;
    background: rgb(0 0 0 / 60%);
    color: white;
    align-items: center;
    justify-content: center;
    top: 12rem;
}

.logoText {
    font-size: 5.2em;
}

.footer {
    color: white;
    position: absolute;
    bottom: 1rem;
    opacity: 0.8;
}

.footer a {
    color: white;
}

.main {
    display: flex;
    flex-grow: 1;
    width:  60%;
    flex-direction: column;
    padding: 50px;
    margin-top: 50px;
    font-family: 'Arial', 'Roboto','Times New Roman';
}

.textContainer, .formText {
    font-weight: bold;
    font-size: 2rem;
}

.spacedText {
    margin-top: 20px;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.inputContainer {
    display: flex;
    margin-top: 16px;
    margin-bottom: 100px;
    gap: 16px;
    flex-wrap: wrap;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 40%;
}

input {
    width: 70%;
}

label {
    color: rgb(90, 90, 90);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.whatToDoContainer {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

button[type="submit"] {
    color: white;
    background-color: #596D48;
    border-radius: 10px;
    width: 25%;
    height: 5vh;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #4f613f
    ;
}

input {
    border: 1px solid black;
    border-radius: 3px;
}

input:invalid{
    border-color: red;
}

.matchPasswordError {
    font-size: 10px;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
}

input:valid + .matchPasswordError {
    display: none;
}

input:focus {
    border-color: blue;
    outline: none;
}

.whatToDoContainer a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.whatToDoContainer div {
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 2px 4px rgb(0, 0, 0, 20%);
}

/* To do
    odin font
    shadow*/